.main-exchange-container .backgroundImg {
    width: 300px;
    height: 300px;
}

.main-tables-slider {
    justify-content: center;
    overflow-x: hidden;
}

.plans-container--slider {
    justify-content: center;
    overflow-x: hidden;
}

.bitcoin-img-container h2 {
    font-size: 4rem;
}

