.bitcoin-img-container h2 {
    font-size: 4rem;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    padding: 0 100px;
    align-items: center;
    background-color: var(--bitcoin-orange);
  }